# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

In [1]:
# Importing pandas an numpy libraries
import pandas as pd
import numpy as np

# Setting variable to file route
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv'

# Reading the csv file from the url variable
df = pd.read_csv(url)

In [2]:
# Parameters to autoreload edited modules
%load_ext autoreload
%autoreload 2
%reload_ext autoreload

# Importing data_cleaning module to clean the dataframe
import data_cleaning as dc

# Applying data cleaning functions from data_cleaning module to the dataframe
df = dc.rename_columns(df)

In [3]:
# Displaying the first 5 rows of the cleaned dataframe
df.head()

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN

In [4]:
# Checking data types of the dataframe columns
df.dtypes

unnamed:_0                         int64
customer                          object
state                             object
customer_lifetime_value          float64
response                          object
coverage                          object
education                         object
effective_to_date                 object
employmentstatus                  object
gender                            object
income                             int64
location_code                     object
marital_status                    object
monthly_premium_auto               int64
months_since_last_claim          float64
months_since_policy_inception      int64
number_of_open_complaints        float64
number_of_policies                 int64
policy_type                       object
policy                            object
renew_offer_type                  object
sales_channel                     object
total_claim_amount               float64
vehicle_class                     object
vehicle_size                      object
vehicle_type                      object
dtype: object

In [5]:
# Checking for missing values in the dataframe
df.isna().sum()

unnamed:_0                          0
customer                            0
state                             631
customer_lifetime_value             0
response                          631
coverage                            0
education                           0
effective_to_date                   0
employmentstatus                    0
gender                              0
income                              0
location_code                       0
marital_status                      0
monthly_premium_auto                0
months_since_last_claim           633
months_since_policy_inception       0
number_of_open_complaints         633
number_of_policies                  0
policy_type                         0
policy                              0
renew_offer_type                    0
sales_channel                       0
total_claim_amount                  0
vehicle_class                     622
vehicle_size                      622
vehicle_type                     5482
dtype: int64

1. Create a new DataFrame that only includes customers who:
   - have a **low total_claim_amount** (e.g., below $1,000),
   - have a response "Yes" to the last marketing campaign.

In [6]:
# Checking for missing values in 'total_claim_amount' and 'response' columns
ttc_na_check = df['total_claim_amount'].isna().sum()
response_na_check = df['response'].isna().sum()
print(f'Total claim amount NaN values: {ttc_na_check}')
print(f'Response NaN values: {response_na_check}')

Total claim amount NaN values: 0
Response NaN values: 631

In [7]:
# Filling NaN values in 'response' column with 'Missing'
df['response'] = df['response'].fillna('Missing')

In [8]:
# Creating a new dataframe with rows where 'total_claim_amount' is less than 1000 and 'response' is 'Yes'
claim_less_1000_response_yes_df = df[(df['total_claim_amount'] < 1000) & (df['response'] == 'Yes')]
claim_less_1000_response_yes_df

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
8,8,FM55990,California,5989.773931,Yes,Premium,College,1/19/11,Employed,M,...,0.0,1,Personal Auto,Personal L1,Offer2,Branch,739.200000,Sports Car,Medsize,NaN
15,15,CW49887,California,4626.801093,Yes,Basic,Master,1/16/11,Employed,F,...,0.0,1,Special Auto,Special L1,Offer2,Branch,547.200000,SUV,Medsize,NaN
19,19,NJ54277,California,3746.751625,Yes,Extended,College,2/26/11,Employed,F,...,1.0,1,Personal Auto,Personal L2,Offer2,Call Center,19.575683,Two-Door Car,Large,A
27,27,MQ68407,Oregon,4376.363592,Yes,Premium,Bachelor,2/28/11,Employed,F,...,0.0,1,Personal Auto,Personal L3,Offer2,Agent,60.036683,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10844,10844,FM31768,Arizona,5979.724161,Yes,Extended,High School or Below,2/7/11,Employed,F,...,0.0,3,Personal Auto,Personal L1,Offer2,Agent,547.200000,Four-Door Car,Medsize,NaN
10852,10852,KZ80424,Washington,8382.478392,Yes,Basic,Bachelor,1/27/11,Employed,M,...,0.0,2,Personal Auto,Personal L2,Offer2,Call Center,791.878042,NaN,NaN,A
10872,10872,XT67997,California,5979.724161,Yes,Extended,High School or Below,2/7/11,Employed,F,...,0.0,3,Personal Auto,Personal L3,Offer2,Agent,547.200000,Four-Door Car,Medsize,NaN
10887,10887,BY78730,Oregon,8879.790017,Yes,Basic,High School or Below,2/3/11,Employed,F,...,0.0,7,Special Auto,Special L2,Offer1,Agent,528.200860,SUV,Small,A
10897,10897,MM70762,Arizona,9075.768214,Yes,Basic,Master,1/26/11,Employed,M,...,0.0,8,Personal Auto,Personal L1,Offer1,Agent,158.077504,Sports Car,Medsize,A

2. Using the original Dataframe, analyze:
   - the average `monthly_premium` and/or customer lifetime value by `policy_type` and `gender` for customers who responded "Yes"

In [9]:
# Checking for missing values in 'monthly_premium_auto', 'gender', and 'policy_type' columns
mpa_nan_check = df['monthly_premium_auto'].isna().sum()
gender_nan_check = df['gender'].isna().sum()
policy_nan_check = df['policy_type'].isna().sum()
print(f'Monthly premium auto NaN values: {mpa_nan_check}')
print(f'Gender NaN values: {gender_nan_check}')
print(f'Policy type NaN values: {policy_nan_check}')

Monthly premium auto NaN values: 0
Gender NaN values: 0
Policy type NaN values: 0

In [10]:
# Checking data types of columns that are going to be used in the analysis
df['monthly_premium_auto'].dtype
df['gender'].dtype
df['policy_type'].dtype
print(f'Monthly premium auto data type: {df["monthly_premium_auto"].dtype}')
print(f'Gender data type: {df["gender"].dtype}')
print(f'Policy type data type: {df["policy_type"].dtype}')

Monthly premium auto data type: int64
Gender data type: object
Policy type data type: object

In [11]:
# Creating a pivot table to analyze the average monthly premium by policy type and gender
pivot_df = df.pivot_table(
    index='policy_type',
    columns='gender',
    values=['monthly_premium_auto'],
    aggfunc='mean'
).round(2)
pivot_df

               monthly_premium_auto
gender                            F      M
policy_type
Corporate Auto                91.38  94.76
Personal Auto                 93.15  93.30
Special Auto                  93.56  93.20

   - compare these insights to `total_claim_amount` patterns, and discuss which segments appear most profitable or low-risk for the company.

In [12]:
total_claim_pivot_df = df.pivot_table(
    index='policy_type',
    columns='gender',
    values=['total_claim_amount'],
    aggfunc='mean'
).round(2)
total_claim_pivot_df

               total_claim_amount
gender                          F       M
policy_type
Corporate Auto             397.80  462.22
Personal Auto              413.24  459.92
Special Auto               458.14  420.36

Most profitable segments are:
- **Corporate auto in males** have a similar monthly premium auto to the rest of the policies and have the lowest total claim amount.
- **Special auto in males** have the second lowest values in terms of claim amount and have one of the highest monthly premium auto.

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

In [13]:
# Checking for missing values in 'state' column
df['state'].isna().sum()

# Filling NaN values in 'state' column with 'Unknown'
df['state'] = df['state'].fillna('Unknown')

In [14]:
#Checking for duplicated values in 'customer' column
df['customer'].duplicated().sum()

# Removing leading and trailing spaces from 'customer' column and dropping duplicates
df['customer'] = df['customer'].str.strip().drop_duplicates()

In [15]:
#Counting total clients by state and filtering states with more than 500 customers
customers_by_state = df['state'].value_counts().reset_index()
customers_by_state.columns = ['state', 'customer_count']
filtered_states = customers_by_state[customers_by_state['customer_count'] > 500]
filtered_states

        state  customer_count
0  California            3552
1      Oregon            2909
2     Arizona            1937
3      Nevada             993
4  Washington             888
5     Unknown             631

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [16]:
education_clv_grouped = df.groupby('education')['customer_lifetime_value'].describe().round(2)
education_clv_grouped

,count,mean,std,min,25%,50%,75%,max
education,,,,,,,,
Bachelor,3272.0,7792.27,6634.99,1898.01,3979.72,5579.38,8684.28,73225.96
College,3204.0,7900.07,6698.26,1898.68,4002.61,5813.63,8999.43,61850.19
Doctor,401.0,7372.03,6229.69,2267.60,3536.43,5423.14,8544.41,44856.11
High School or Below,3146.0,8415.29,7351.03,1940.98,4168.92,6189.35,9192.36,83325.38
Master,887.0,8162.52,6971.46,2272.31,4056.47,5680.47,9075.77,51016.07

In [17]:
education_clv_median = df.groupby('education')['customer_lifetime_value'].median().round(2)
education_clv_median

education
Bachelor                5579.38
College                 5813.63
Doctor                  5423.14
High School or Below    6189.35
Master                  5680.47
Name: customer_lifetime_value, dtype: float64

**Bachelor** and **High School or Below** have the most widespread CLV distributions as they have more outliers. However, comparing the median **Bachelor** has not that high CLV values and **High School or Below** have significantly higher values than the rest of the categories.

In [18]:
gender_clv_grouped = df.groupby('gender')['customer_lifetime_value'].describe().round(2)
gender_clv_grouped

         count     mean      std      min      25%      50%      75%       max
gender
F       5573.0  8071.11  6917.06  1898.68  4035.01  5714.17  9034.31  73225.96
M       5337.0  7963.04  6851.74  1898.01  3982.27  5824.22  8929.61  83325.38

In [19]:
gender_clv_grouped = df.groupby('gender')['customer_lifetime_value'].median().round(2)
gender_clv_grouped

gender
F    5714.17
M    5824.22
Name: customer_lifetime_value, dtype: float64

Despite **males** have higher CLV values, they are almost similar to **females** comparing median values.

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

In [20]:
# Converting 'effective_to_date' column to datetime, extracting month into a new column 'month_sold' and converting it to int64
df['month_sold'] = pd.to_datetime(df['effective_to_date']).dt.month.astype('string')

# Mapping month numbers to names
df['month_sold'] = df['month_sold'].str.replace('1', 'January').str.replace('2', 'February')

policies_month_state = df.pivot_table(
    index='state',
    columns='month_sold',
    values='customer',
    aggfunc='count'
)
policies_month_state

C:\Users\gcast\AppData\Local\Temp\ipykernel_11580\3581858043.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['month_sold'] = pd.to_datetime(df['effective_to_date']).dt.month.astype('string')

month_sold  February  January
state
Arizona          777      878
California      1401     1634
Nevada           377      486
Oregon          1163     1354
Unknown          147      143
Washington       371      403

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

In [25]:
policies_by_state_month = (
    df.groupby(['state', 'month_sold'])
      .size()
      .reset_index(name='policies_sold')
)

policies_by_state_month

         state month_sold  policies_sold
0      Arizona   February            929
1      Arizona    January           1008
2   California   February           1634
3   California    January           1918
4       Nevada   February            442
5       Nevada    January            551
6       Oregon   February           1344
7       Oregon    January           1565
8      Unknown   February            318
9      Unknown    January            313
10  Washington   February            425
11  Washington    January            463

In [31]:
total_policies_by_state = (
    policies_by_state_month.groupby('state')['policies_sold']
    .sum()
    .reset_index()
    .sort_values('policies_sold', ascending=False)
)
total_policies_by_state

        state  policies_sold
1  California           3552
3      Oregon           2909
0     Arizona           1937
2      Nevada            993
5  Washington            888
4     Unknown            631

In [32]:
top_3_states = policies_by_state_month.head(3)['state']

In [33]:
top_states_df = policies_by_state_month[policies_by_state_month['state'].isin(top_3_states)]
top_states_df

        state month_sold  policies_sold
0     Arizona   February            929
1     Arizona    January           1008
2  California   February           1634
3  California    January           1918

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [34]:
df.head()

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month_sold
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN,February
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN,January
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,February
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,January
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN,January